<footer class="container">

    <div class="site-footer">

        <div class="copyright pull-left">
  <a href="https://www.john1959.com/">john博客</a> <a href="https://www.john1959.com/bookmark" title="Bookmark">Bookmark</a> <a href="https://www.john1959.com/open-source"  title="Open-Source">Open-Source</a> <a href="https://www.john1959.com/sitemap.xml" title="sitemap" >博客地图</a> <a href="https://www.john1959.com/Privacy_Policy.html"  title="Privacy Policy" >隐私政策</a>
        </div> <br />
<a href="javascript:window.scrollTo(0,0)"  aria-label="view source code">
            <span class="mega-octicon octicon-mark-github" title="GitHub">Top ↑</span>
        </a>


    </div>

    <!-- Third-Party JS -->
    <script type="text/javascript" src="/bower_components/geopattern/js/geopattern.min.js"></script>

    <!-- My JS -->
    <script type="text/javascript" src="/assets/js/script.js"></script>

    {% for javascript in page.javascript %}
    <script src="/assets/js/{{javascript}}"></script>
    {% endfor %}

    {% if site.analytics.google.tracking_id %}
    <div style="display:none">

    </div>
    {% endif %}
   <!-- Histats.com  START  (aync)-->
<script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,4864527,4,0,0,0,00000000']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?4864527&101" alt="free hit counter" border="0"></a></noscript>
<!-- Histats.com  END  -->
</footer>
