$(document).ready(function(){

    // 判断是不是手机端访问
    let mobile_flag = isMobile(); // false为PC端，true为手机端
    if(mobile_flag){
        return;
    }

    // 遍历所有 h1, h2, h3 标题
    $("article h1, article h2, article h3").each(function(index) {
        let tagName = $(this).prop("tagName").toLowerCase();
        let indent = '';

        // 根据标题级别设置缩进
        if (tagName === 'h2') {
            indent = '&nbsp;&nbsp;&nbsp;&nbsp;';
        } else if (tagName === 'h3') {
            indent = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
        }

        // 添加标题到目录中
        $(".post-directory dl").append("<dt><a class=\"jumper\" hre=#" +
            $(this).attr("id") +
            ">" +
            indent + $(this).text() +
            "</a></dt>");
    });

    var fixmeTop = $('#post-directory-module').offset().top - 100; // 获取目录初始位置

    $(window).scroll(function() { // 滚动事件监听

        var currentScroll = $(window).scrollTop(); // 获取当前滚动位置

        if (currentScroll >= fixmeTop) { // 滚动到目录处时固定位置
            $('#post-directory-module').css({
                top: '100px',
                position: 'fixed',
                width: 'inherit'
            });
        } else { // 滚动回到顶部时恢复位置
            $('#post-directory-module').css({
                position: 'inherit',
                width: 'inherit'
            });
        }

    });

    $("a.jumper").on("click", function(e) {

        e.preventDefault();

        $("body, html").animate({
            scrollTop: ($($(this).attr('hre')).offset().top - 100)
        }, 600);

    });
});
