<h3>Post Directory</h3>
<div id="post-directory-module">
<section class="post-directory">
    <!-- Links that trigger the jumping -->
    <!-- Added by javascript below -->
    <dl></dl>
</section>
</div>

<script type="text/javascript">

    $(document).ready(function(){

        // 注释掉或移除判断是否为手机端访问的代码，以便目录始终显示
        // let mobile_flag = isMobile(); // false为PC端，true为手机端
        // if(mobile_flag){
        //     return;
        // }

        // 处理 h1, h2 和 h3 标签
        $("article h1, article h2, article h3").each(function(index) {
            let tagName = $(this).prop("tagName").toLowerCase();
            let indent = "";
            let text = $(this).text().trim();

            // 跳过生成 undefined 或者空白链接的逻辑
            if (!text || text === "Post Directory" || text === "近日文章") {
                return;
            }

            if(tagName === "h2") {
                indent = "&nbsp;&nbsp;- ";
            } else if(tagName === "h3") {
                indent = "&nbsp;&nbsp;&nbsp;&nbsp;- ";
            }

            $(".post-directory dl").append("<dt><a class=\"jumper\" href=#" +
                $(this).attr("id") +
                ">" +
                indent + text +
                "</a></dt>");
        });

        // 固定目录位置的逻辑
        var fixmeTop = $('#post-directory-module').offset().top - 100;

        $(window).scroll(function() {
            var currentScroll = $(window).scrollTop();

            if (currentScroll >= fixmeTop) {
                $('#post-directory-module').css({
                    top: '100px',
                    position: 'fixed',
                    width: 'inherit'
                });
            } else {
                $('#post-directory-module').css({
                    position: 'inherit',
                    width: 'inherit'
                });
            }
        });

        // 跳转链接的动画效果
        $("a.jumper").on("click", function(e) {
            e.preventDefault();
            $("body, html").animate({
                scrollTop: ($( $(this).attr('href') ).offset().top - 100)
            }, 600);
        });
    });

    // 注释掉判断设备类型的函数
    // function isMobile() {
    //     var userAgentInfo = navigator.userAgent;
    //     var mobileAgents = ["Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod"];
    //     var mobile_flag = false;

    //     for (var v = 0; v < mobileAgents.length; v++) {
    //         if (userAgentInfo.indexOf(mobileAgents[v]) > 0) {
    //             mobile_flag = true;
    //             break;
    //         }
    //     }

    //     var screen_width = window.screen.width;
    //     var screen_height = window.screen.height;

    //     if(screen_width < 500 && screen_height < 800){
    //         mobile_flag = true;
    //     }

    //     return mobile_flag;
    // }

</script>

