---
layout: default
css: ['sidebar-post-nav.css']
---
{% include jumbotron.html %}
<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="row">

        {% if page.no-post-nav %}
        <div class="col-md-12 markdown-body">

            {{ content }}

<div>
</br>{% include post-tag.html %}</br>
    <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
        <strong>（转载本站文章请注明作者和出处： <a href="https://www.john1959.com">john博客</a>）</strong>
    </p>
</div>            <!-- Comments -->
            {% include disqus-comments.html %}
        </div>
        {% else %}
        <div class="col-md-8 markdown-body">

            {{ content }}

<div>
</br>{% include post-tag.html %}</br>
    <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
        <strong>（转载本站文章请注明作者和出处： <a href="https://www.john1959.com">john博客</a>）</strong>
    </p>

<p>
	<a href="https://verge.v2ray-clash.top/go/gfg89976" target="_blank"><img src="https://www.john1959.com/img/ji-chang/81.png" /></a> 
</p>
<p>
	<a href="https://verge.v2ray-clash.top/go/sd897fg9" target="_blank"><img src="https://www.john1959.com/img/ji-chang/82.png" /></a> 
</p>

</div>
            <!-- Comments -->
            {% include disqus-comments.html %}
        </div>

        <div class="col-md-4">
            {% include sidebar-post-nav.html %}
        </div>
        {% endif %}

    </div>

</article>
